<!doctype html>
<html lang="en" data-bs-theme="auto">
<h2>Data Visualization</h2> 

<div class="container">
  <div class="row">
  <p>
    <td><%= link_to 'Pie Chart', residential_pie_path, :class => 'btn btn-default btn-xs btn-success' %></td>
    <td><%= link_to 'Interactive Tree', residential_tree_path, :class => 'btn btn-default btn-xs btn-success' %></td>
    <td><%= link_to 'Scatter Chart', residential_scatter_path, :class => 'btn btn-default btn-xs btn-success' %></td>
    <td><%= link_to 'Board', board_path(@board), :class => 'btn btn-default btn-xs btn-success' %></td>
  </p>
  </div>
</div>
</html>